:root {
    font-size: 16px;
    font-family: 'Roboto Mono';
    --text-primary: black;
    --text-secondary: white;
    --bg-primary: #3d3d3d;
    --bg-secondary: #161616;
}

html {
    scroll-behavior: smooth;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #35FCCE;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    z-index: 1;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:nth-last-child(2) {
    margin-top: auto;
}

.nav-item:last-child {
    margin-top: 0;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-secondary);
    text-decoration: none;
    /* filter: grayscale(100%) opacity(0.7); */
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
    cursor: pointer;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    width: 15rem;
}

.navbar:hover .link-text {
    display: block;
}

.jumbo-text-first {
    font-size: 8em;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

}

.jumbo-text-last {
    font-size: 8em;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(25%);
}

.name-highlight {
    color: black;
}

.name-highlight:before {
    content: '';
    display: block;
    height: 44px;
    width: 100%;
    background: #35FCCE;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: height .7s;
    z-index: -1;
}

.name-highlight:hover:before {
    height: 85%;
}

.section-title {
    display: block;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 3.3em;
    transform: translateX(0%) translateY(-25%);
    z-index: 0;
}

.section-title-highlight {
    position: relative;
    color: black;
}

.section-title-highlight:before {
    content: '';
    display: block;
    height: 12px;
    width: 100%;
    background: #35FCCE;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: height .5s;
    z-index: -1;
}

.section-title-highlight:hover:before {
    height: 85%;
}

a {
    text-decoration: none;
    cursor: default;
    display: block;
}

.container {
    background-color: rgb(236, 236, 236);
    padding: 20px 10px 35px 10px;
    /* margin: 10px 0; */
    margin: 10px 30px 32px 30px;
}

.card-wrapper {
    display: flex;
}

.right-col,
.left-col {
    padding: 15px 30px 0 30px;
}

.left-col {
    width: 40%;
}

.right-col {
    width: 60%;
    margin-top: -10px;
}

/* img styling */
.left-col img {
    width: 100%;
    height: auto;
}

/* Title styling */
.card-wrapper h3 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 2em;
    margin: 0;
}

/* Button styling */
.card-wrapper .codeButton {
    font-weight: 400;
    font-size: 0.85em;
    border-radius: 8px;
    background-color: black;
    color: white;
    border-style: none;
    padding: 6px 8px 6px 8px;
    margin: 11px 0 2px 0;
    cursor: pointer;
    transition-duration: 0.4s;
    outline: none;
}

.card-wrapper .codeButton i {
    padding-left: 7px;
    font-size: 1.2em;
    outline: none;
}

/* button hover color change */
.card-wrapper .codeButton:hover {
    background-color: #35FCCE;
    color: black;
    font-weight: 600;
    outline: none;
}

.card-wrapper .readMoreButton {
    font-weight: 600;
    font-size: 1em;
    border-radius: 8px;
    background-color: rgb(236, 236, 236);
    color: black;
    border-style: none;
    padding: 6px 8px 6px 8px;
    margin: 11px 0 2px -8.3px;
    cursor: pointer;
    transition-duration: 0.4s;
    outline: none;
}

/* button hover color change */
.card-wrapper .readMoreButton:hover {
    background-color: #35FCCE;
    color: black;
    font-weight: 600;
    border-radius: 8px;
    outline: none;
}

.card-wrapper .readMoreButton i {
    padding-left: 7px;
    font-size: 1em;
    outline: none;
}

/* paragraph styling */
.card-wrapper p {
    margin: 12px 0 0 0;
}

.experience-date {
    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Roboto Mono';
    margin: 7px 0;
}

/* Read More buttons */
#more {
    display: none;
}

#more2 {
    display: none;
}

#more3 {
    display: none;
}

#more4 {
    display: none;
}

#more5 {
    display: none;
}

#more6 {
    display: none;
}

/* Update this */
#home {
    height: 500px;
    /* margin-bottom: 0; */
    position: relative;
    /* overflow-anchor: none; */
}

/* Update this after everything is done */
/* navbar on mobile is doing something funky */
/* Small Screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }


    .container {
        background-color: rgb(236, 236, 236);
        padding: 20px 10px 35px 10px;
        /* margin: 10px 0; */
        margin: 5px 15px 16px 15px;
    }

    .card-wrapper {
        display: flex;
        flex-direction: column;
    }

    .right-col,
    .left-col {
        padding: 0;
    }

    .left-col {
        width: 100%;
    }

    .right-col {
        width: 100%;
        margin-top: -10px;
    }

    .left-col img {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    /* Title styling */
    .card-wrapper h3 {
        font-family: Roboto;
        font-weight: 500;
        font-size: 2em;
    }

    /* Button styling */
    .card-wrapper .codeButton {
        font-weight: 400;
        font-size: 0.85em;
        border-radius: 8px;
        background-color: black;
        color: white;
        border-style: none;
        padding: 6px 8px 6px 8px;
        margin: 11px 0 2px 0;
        cursor: pointer;
        transition-duration: 0.4s;
        outline: none;
    }

    /* paragraph styling */
    .card-wrapper p {
        margin: 25px 0 0 0;
    }

    .card-wrapper .readMoreButton {
        font-weight: 600;
        font-size: 0.85em;
        border-radius: 8px;
        background-color: rgb(236, 236, 236);
        color: black;
        border-style: none;
        padding: 5px 7px 5px 7px;
        margin: 15px 0 0 30%;
        cursor: pointer;
        transition-duration: 0.4s;
        outline: none;
    }

    main {
        margin: 0;
    }

    .jumbo-text-first {
        font-size: 4em;
        font-weight: 600;
        margin: 0;
        padding: 0;
        text-align: center;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

    }

    .jumbo-text-last {
        font-size: 4em;
        font-weight: 600;
        margin: 15px 0;
        padding: 0;
        text-align: center;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%) translateY(25%);
    }

    .name-highlight:before {
        content: '';
        display: block;
        height: 10px;
        width: 100%;
        background: #35FCCE;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: height .7s;
        z-index: -1;
    }

    .name-highlight:hover:before {
        height: 85%;
    }

    .section-title {
        display: block;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 8px;
        font-weight: 500;
        font-size: 2.3em;
        transform: translateX(0%) translateY(-25%);
        z-index: 0;
    }
    
    .section-title-highlight {
        position: relative;
        color: black;
    }
    
    .section-title-highlight:before {
        content: '';
        display: block;
        height: 10px;
        width: 100%;
        background: #35FCCE;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: height .5s;
        z-index: -1;
    }
    
    .section-title-highlight:hover:before {
        height: 85%;
    }

    #home {
        height: 200px;
        /* margin-bottom: 0; */
        position: relative;
    }
}

/* Large Screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }


}

/* Screens above 1920px */
@media (min-width: 1920px) and (max-width: 2560px) {
    .jumbo-text-first {
        font-size: 9em;
        margin: 0;
        padding: 0;
        text-align: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

    }

    .jumbo-text-last {
        font-size: 9em;
        margin: 0;
        padding: 0;
        text-align: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%) translateY(25%);
    }
}